body {
  font-family: Verdana, sans-serif;
  background-color: white;
  margin: auto;
  padding: 20px;
  max-width: 720px;
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

a {
  color: black;
}

@media(hover: hover) and (pointer: fine) {
    a:hover {
      /*background-color: black;*/
      /*color: white;*/
      /*background-color: #fdcc57;*/
      background-color: #4287f5;
      color: black;
    }
}

h2 a {
  font-weight: 400;
  color: #000;
  text-decoration: none;
}

nav a {
  margin-right: 10px;
}

textarea {
  width: 100%;
  font-size: 0.8em;
}

table {
  width: 100%;
}

img {
  max-width: 100%;
}

pre code {
  background-color: #eee;
  border-left: 1px solid #999;
  display: block;
  padding: 15px;
  white-space: pre-wrap;
}

footer {
  padding: 25px;
  text-align: center;
}

.md {
  font-family: Palatino,Georgia,"Times New Roman",serif;
}
