body {
  font-family: Verdana, sans-serif;
  margin: auto;
  padding: 20px;
  max-width: 720px;
  text-align: left;
  background-color: white;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

a {
  color: black;
}

a:hover {
  background-color: black;
  color: white;
}

h2 a {
  font-weight: 400;
  color: #000;
  text-decoration: none;
}

nav a {
  margin-right: 10px;
}

textarea {
  width: 100%;
  font-size: 0.8em;
}

table {
  width: 100%;
}

img {
  max-width: 100%;
}

pre code {
  background-color: #eee;
  border-left: 1px solid #999;
  display: block;
  padding: 15px;
  white-space: pre-wrap;
}

footer {
  padding: 25px;
  text-align: center;
}
